.field{
  width: 500px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(199, 40, 40);
  padding: 10px;
  background-color: rgb(74, 65, 42);
  text-orientation:sideways-left;
  text-decoration: dashed;
  text-shadow: aquamarine;
}

.header{
  padding: 10px;
}